.is-2-column {
  background-image: url("https://m.360buyimg.com/babel/jfs/t1/221027/23/22096/203497/6390a721Eb77f604a/b83143c155f1dc0a.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.widget,
.footer {
  background-color: rgba(255,255,255,0.8);
}
