.is-3-column {
  background-image: url("https://m.360buyimg.com/babel/jfs/t1/96199/8/32723/40473/6391a150E94c8b101/3ffcbc0275f50fa1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
background-color rgba(255,
255,
0.88),
.widget {
  background-color: rgba(255,255,255,0.9);
}
.navbar,
.footer {
  background-color: rgba(255,255,255,0.84);
}
